node_modules/
dist/
.venv/
__pycache__/
*.pyc
.env
.env.local
.env.*.local
.pytest_cache/
.DS_Store
.idea/
.vscode/


# Ignore data folder contents except seed.js
frontend/src/data/*
!frontend/src/data/seed.js